PART-1(TUPLES)

In [ ]:
#Task-1
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,[1, 2, 3, 400, 5, 6, 7],
("Best Fiction", "The Testaments", 98291))
print(f'Output: {((a_tuple[3])[3])}')

Output: 400

In [ ]:
#task-2
tuplea=(-10, 20, 25, 30, 40)
print(tuplea[2:-2])

(25,)

In [ ]:
#Task-3
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
print(f'Size of the tuple is:{len(book_info)}')
for i in book_info:
  print(i)

Size of the tuple is:4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#Task-4
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)
for i in book_info:
  (Category,Title,Votes)=i
  print(f"{Title} won the '{Category}' category with {Votes} votes")

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

In [ ]:
#Task-5
gtuple=(10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
n=int(input())
count=0
for i in gtuple:
  if i==n:
    count+=1
print(f"{n} appears {count} times in the tuple")

8
8 appears 4 times in the tuple

In [ ]:
#Task-6
gtuple=('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
newlist=list(gtuple)
newlist2=[]
for i in range(len(newlist)-1,-1,-1):
  newlist2.append(newlist[i])
print(tuple(newlist2))

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [ ]:
#Task-7
d1={'Harry':15, 'Draco':8, 'Nevil':19}
d2={'Ginie':18, 'Luna': 14}
d3={}
for i,j in d1.items():
  d3[i]=j
for k in d2:
  d3[k]=d2[k]
print(d3)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:
#Task-8
d={}
a='Jon:100, Dan:200, Rob:30, Ned:110'.split(', ')
sum=0
count=0
for i in a:
  l=i.split(':')
  d[l[0]]=int(l[1])
  d.values()
  sum+=int(l[1])
  count+=1
print(f"Average is {sum/count}")

Average is 110.0

In [ ]:
#Task-9
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
d={}
minimum=int(input())
for i in exam_marks.items():
  st,inti=i
  if inti>=minimum:
    d[st]=inti
print(d)

190
{'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
#Task-10
d={'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
maximum=-10**99
key1=''
for i in d.items():
  key,value=i
  if d[key]>maximum:
    maximum=d[key]
    key1=key
print(f"The highest selling book genre is '{key1}' and the number of books sold are {maximum}.")

The highest selling book genre is 'mystery' and the number of books sold are 15.

In [ ]:
#Task-11

n = input("Enter a string: ")
d = {}
for i in n:
  if i!=' ':
    i = i.lower()
    d[i] = d.get(i,0) + 1
print("Character frequency:")
print(d)

Enter a string: Python programming is fun
Character frequency:
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#TAsk-12
d1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
h=[]
for i,k in d1.items():
  for j in k:
    if type(j)==str:
      h.append(int(j))
    else:
      h.append(j)
print(len(h))

9

In [ ]:
#Task-13
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
d={}
for i in list_1:
  j,k=i
  if j in d:
    d[j].append(k)
  else:
    d[j]=[k]
print(d)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
#Task 15
l1=[(2, 3), (4, 5), (6, 7), (2, 8)]
l2=[]
for i,k in l1:
    l2.append(i*k)
print(l2)

[6, 20, 42, 16]

In [ ]:
 #TASK_16
b=input()
a=( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])
for i in a:
    i[len(i)-1]=b
print(a)

1000
([1, 2, '1000'], [4, 5, '1000'], [7, 8, '1000'], [10, 11, '1000'])

In [ ]:
#Task-17
d= {'c1':'Red', 'c2':'Green', 'c3':None, 'd4':'Blue', 'a5':None}
d2={}
for i,j in d.items():
    if j==None:
        pass
    else:
        d2[i]=j
print(d2)

{'c1': 'Red', 'c2': 'Green', 'd4': 'Blue'}

In [ ]:
#Task-18
a=(input())
l=[]
temp=''
for i in a:
    if i==',' or i==' ':
        l.append(int(temp))
        temp=''
    else:
        temp+=i
l.append(int(temp))
d= {'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11, 'f' : 12, 'g' : 13}
d2={}
for j,k in d.items():
    if k in l:
        d2[j]=k
    else:
        pass
print(d2)

9,12
{'c': 9, 'f': 12}

In [ ]:
#Task-19
l=[(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]
d={}
for i in l:
    if i[1] not in d:
        d[i[1]]=[i]
    else:
        d[i[1]].append(i)
print(d)

{80: [(20, 80), (31, 80)], 22: [(1, 22)], 11: [(88, 11), (27, 11)]}

In [ ]:
#Task-20
n='The secret of getting ahead is getting started.'
l=['-', '=', '+', '*', '%']
d={}
l2=[]
l3=[]
temp=''
for i in n:
    if i=='.':
        continue
    elif i==' ':
        l2.append(temp)
        temp=''
    else:
        temp+=i
l2.append(temp)
for s in l2:
    if s in l3:
        pass
    else:
        l3.append(s)
sum=0
for a in l:
    d[a]=[]
for j in l3:
    for k in j:
        sum+=ord(k)
    d[l[(sum%len(l))]].append(j)
    sum=0
print(d)

{'-': ['is'], '=': ['secret'], '+': [], '*': ['of'], '%': ['The', 'getting', 'ahead', 'started']}