In [ ]:
#Task-1
print('hello world')

hello world

In [ ]:
#Task-2
print(54+56)

110

In [ ]:
#Task-3
x= str('summer')
y= str(2023)
print(x,'\n',y)
print(y)

summer
 2023
2023

In [ ]:
#Task-4
x=input('your name is : ')
print('your name is :' +x)

your name is : jhon
your name is :jhon

In [ ]:
#Task-5
import math
M=int(input())
N=int(input())
ans=int(pow(M,N))
print(str(M)+'^'+str(N)+':'+str(ans))

2
3
2^3:8

In [ ]:
#TAsk-6
x=float(input('Total Weight of the cargo: '))
y=x%4
z=x-y
print('Maximum Weight: '+str(z))

Total Weight of the cargo: 11
Maximum Weight: 8.0

In [ ]:
#Task-7
A=int(input('A'))
B= int(input('B'))
C=int(input('C'))
D=float(input('D'))
print(int(A**C+B*A-D/3))

A2
B3
C4
D5
20

In [ ]:
#Task-8
x= int(input('Number of choco: '))
y=int(x//3)
z=x%3
print('Each frien will recieve',str(y),'chocolates')
print('The number of remaining choco are ',str(z))

Number of choco: 50
Each frien will recieve 16 chocolates
The number of remaining choco is  2

In [ ]:
########################################--------<<<<<<<UNGRADED>>>>>>>---------#########################################

In [ ]:
#Task-9
M=input()
N=input()
print(str(M+N))

Hello
world
Hello world

In [ ]:
#Task-10
x=float(input())
y=float(input())
z=float(input())

print(f'The inputs:{x},{y},{z}')
print(f'The result is:{(x+y+z)}')

3
11.57
7
The inputs:3.0,11.57,7.0
The result is:21.57

In [ ]:
#task-11
x=int(input())
if x%2==0:
  print(True)
else:
  print(False)

3
False