In [ ]:
#task-1
a=float(input())
b=float(input())

sum=float(a+b)
product=float(a*b)
diff=float(a-b)

print('Sum =',float(sum))
print('Product =',float(product))
print('Difference =',float(diff))

2
3
Sum = 5.0
Product = 6.0
Difference = -1.0

In [ ]:
#Task-2
import math
a=float(input())
print('Area is ',math.pi*a*a)
print('Circumference is ',math.pi*2*a)

4
Area is  50.26548245743669
Circumference is  25.132741228718345

In [ ]:
#Task-3
a=int(input())
b=int(input())

if a>b:
  print('First is greater')
elif a==b:
  print('The numbers are equal')
else:
  print('Second is graeter ')

3
3
The numbers are equal

In [ ]:
#Task-4
a=int(input())
b=int(input())

if a>b:
  print(a-b)
elif a<b:
  print(b-a)
else:
  print(0)

5
5
0

In [ ]:
#Task-5
a=int(input())
if a%2==0:
  print('The number is even.')
else:
  print('The number is odd')

6
The number is even.

In [ ]:
#TAsk-6
a=int(input())
if a%2==0 or a%5==0:
  print(a)
else:
  print('Not a multiple of 2 OR 5')

6
6

In [ ]:
#Task-7
a=int(input())
if a%2==0 and a%5==0:
  print('Multipleof 2 and 5 both')
elif a%2==0 or a%5==0:
    print(a)
else:
  print('Not a multiple of 2 OR 5')

10
Multipleof 2 and 5 both

In [ ]:
#Task-8
a=int(input())
if a%2==0 and a%5==0:
  print(a)
else:
  print('Not a multiple of 2 and 5 both')

6
Not a multiple of 2 and 5 both

In [ ]:
#Task-9
a=int(input())
x = a//3600
a%=3600
y = a//60
a%=60

print('Hours:',x,'Minutes: ',y,'seconds: ',a)

10000
Hours: 2 Minutes:  46 seconds:  40

In [ ]:
#Task-9
a = int(input())
x = a//3600 #hours
# i.e 10000%3600=2800.....2800//60=46
y = (a%3600)//60#minutes
# i.e 2800%60=.,.....
z = ((a%3600)%60)
print('Hours: ',x,'Minutes: ',y,'Seconds: ',z)

10000
Hours:  2 Minutes:  46 Seconds:  40

In [ ]:
#Task-10
x=int(input())
if x<=40:
  print(200*x)
elif x>40:
  print(8000+((x-40)*300))

30
6000

In [ ]:
#task-11
s=int(input('S='))
import math
if s<100:
  print('L =',float(3000-(125*math.pow(s,2))))
elif s>=100:
  print('L =',float(12000/((4+(math.pow(s,2)))/14900)))

S=120
L = 12413.218550402666

In [ ]:
#Task-12
x=int(input())
if x>=4 and x<=6:
    print('Breakfast')
elif x>=12 and x<=13:
    print('Brunch')
elif x>=16 and x<=17:
    print('Snack time')
elif x>=19 and x<=20:
    print('dinner')
elif x>=24 or x<0:
    print('Invalid input')
else:
    print('Patience is vertue')

3
Patience is vertue

In [ ]:
#task-12
x=int(input())
if x>=4 and x<=6:
    print('Breakfast')
elif x>=11 and x<=15:
    print('Brunch')
elif x>=16 and x<=20:
    print('Snack time')
elif x>=21 and x<=23:
    print('dinner')
elif x>23 and x<6:
    print('Patience is vertue')
else:
    print('Invalid input')

8
Break fast

In [ ]:
#Task-13
m=int(input())
if m<=100 and m>=90:
  print('A')
elif m<90 and m>=80:
  print('B')
elif m<80 and m>=70:
  print('C')
elif m<70 and m>=60:
  print('D')
elif m<60 and m>=50:
  print('E')
elif m<50 and m>=0:
  print('F')
else:
  print('Invalid')

110
Invalid

In [ ]:
#Task-14
x=float(input())
t=float(input())
v=(x*3.6)/t
print(f'Velocity is {v}Km/h')
if v<60:
  print('Too slow. Needs more changes.')
elif v>=60 and v<=90:
  print('Velocity is okay. The car is ready!')
elif v>90:
  print('Too fast. Only a few changes should suffice.')

25400
3600
Velocity is 25.4Km/h
Too slow. Needs more changes.

In [ ]:
#Task-15
x=float(input())

if x==4.00:
  print('100 percet')
elif x>=3.95 and x<4:
  print('75 percent')
elif x>=3.9 and x<3.95:
  print('50 percent')
elif x>3.8 and x<3.9:
  print('25 percent')
else:
  print("The student is not eligible for a waiver")

3.79
The student is not eligible for a waiver

In [ ]:
###########################################################<<<TRACING>>>>#################################################################################

In [ ]:
p = 5
q = 6
r = 9
sum = 0
if (p < 12):
    print(r + 2)
else:
    print(r + p)
if (q > 20):
    print(r + 19)
elif (q <= 6):
    print(q + 3)
else:
    print(p + q + r)
if (r > 15):
    print(r)
elif (r == 0):
    print(p + q)
else:
    print(p)
if (sum != 0):
    print(3)
else:
    print(sum + 32)
if (p>0 and r<10):
    print(p+r)
else:
    print(p-r)

11
9
5
32
14

In [ ]:
var1 = (not False or False) and True
var2 = var1 and True
var3 = False and not True
var6 = var3 and True
print(var6)

False

In [ ]:
#Task-17
var1 = var2 = var3 = var4 = var5 = var6 = False
result1 = False
result2 = False
result3 = False
result4 = False
result5 = False
result6 = False
result7 = False
result8 = False
result9 = False
result10 = False
var1 = 4 > 3 - 1
var2 = var1 and False
var3 = True
var4 = False
var5 = True
var6 = var3 and False
result1 = (var1 or var2) and (8 * 10 > 45)
result2 = (var1 or var2) and (result1 and False)
result3 = (var1 and result1) or result2
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or var2) and not(result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (var5 or var6)) and True
result9 = ((result2 and var2) or (result7 and var1)) and False
result10 = not(var1 and True)

print(result1,result2,result3,result4,result5,result6,result7,result8,result9,result10)

True False True True False True False True False False

In [ ]:
#Task-18
var1 = False
var2 = False
var3 = False
var4 = False
var5 = False
var6 = False
result1 = False
result2 = False
result3 = False
result4 = False
result5 = False
result6 = False
result7 = False
result8 = False
result9 = False
result10 = False
var1 = ((not True) or True) and False
var2 = var1 and False
var3 = True and not False
var4 = False
var5 = True
var6 = var3 and False
result1 = (var1 and var2) and (40 % 3) > 45 or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or (not var2)) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and ((not var5) or var6)) and True
result9 = ((result2 and var2) or ((not result7) and var1)) and not False
result10 = not(var1 and True)
print(result1,result2,result3,result4,result5,result6,result7,result8,result9,result10)

False False True False False True False False False True

In [ ]:
#Task-19
var1 = var2 = var3 = var4 = var5 = var6 = False
result1 = result2 = result3 = result4 = result5 = result6 = False
result7 = result8 = result9 = result10 = False
var1 = (not False or False) and True
var2 = var1 and True
var3 = False and not True
var4 = True
var5 = False
var6 = var3 and True
result1 = (var1 and var2) and ( 40 % 3 > 45) or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or not var2) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (not var5 or var6)) and True
result9 = ((result2 and var2) or (not result7 and var1)) and not False
result10 = not (var1 and True)

print(result1,result2,result3,result4,result5,result6,result7,result8,result9,result10)

False True True True True True False True True False

In [ ]:
#################################################################>>>>>>---UNGRADED---<<<<<<<#############################################################

In [ ]:
#Task-20
a=int(input())
if a%2==0 or a%5==0:
  print('No')
else:
  print(a)

4
No

In [ ]:
#Task-21
a=int(input())
if a%2==0 and a%5==0:
  print('No')
else:
  print(a)

20
No

In [ ]:
#task-22
canvas=int(input('Number of Canvases: '))
paint_tube=int(input('Paint tube: '))
x=((canvas*120)+(75*paint_tube))
print(f'Previous total: {x}')
if x>=0 and x<300:
  print(f'New total after discount: {x} ')
elif x>=300 and x<500:
  print(f'New total after discount: {x-10}')
elif x>=500 and x<750:
  print(f'New total after discount: {x-20}')
elif x>=750 and x<1000:
  print(f'New total after discount: {x-50}')
elif x>=1000:
  print(f'New total after discount: {x-150}')
else:
  pass

Number of Canvases: 5
Paint tube: 8
Previous total: 1200
New total after discount: 1050

In [ ]:
#Task-23
n=float(input())
x=((n-32)*.56)
print(x)
if x<20:
  print('Winter')
elif x>=20 and x<=25:
  print('Autumn')
elif x>25 and x<30:
  print('Spring')
elif x>=30:
  print('Summer')
else:
  pass

131
55.440000000000005
Summer