In [ ]:
#TAsk-1
def even_checker(a):
  if a%2==0:
    print(f'Even!!')
  else:
    print(f'Odd!!')
even_checker(int(input()))

4
Even!!

In [ ]:
#Task-2
def fibonacci1(h):
  a=0
  b=1
  g=[]
  for i in range(h):
    if a<h:
      g.append(a)
    else:
      pass
    x=a+b
    a=b
    b=x
  return(g)
e = fibonacci1(int(input()))
for i in e:
  print(i,end=' ')

14
0 1 1 2 3 5 8 13

In [ ]:
#Task-2
def fibonacci(h):
  a=0
  b=1
  for i in range(h+10):
    if a<=h:
      print(a,end=' ')
    else:
      pass
    x=a+b
    a=b
    b=x
fibonacci(int(input()))

10
0 1 1 2 3 5 8

In [ ]:
#Task=3
def foo_moo(x):
  if x%2==0 and x%3==0:
    return("FooMoo")
  elif x%2==0:
    return("Foo")
  elif x%3==0:
    return("Moo")
  else:
    return("Boo")
print(foo_moo(int(input())))

5
Boo

In [ ]:
#Task-4
def check_case(a):
  ucount=0
  lcount=0
  for i in a:
    if i==' ':
      pass
    elif ord(i)>=65 and ord(i)<=90:
      ucount+=1
    elif ord(i)>=97 and ord(i)<=122:
      lcount+=1
    else:
      pass
  print(f'No. of Uppercase characters :{ucount}')
  print(f'No. of Lowercase Characters:{lcount}')
check_case(input())

HaRRy PotteR
No. of Uppercase characters :5
No. of Lowercase Characters:6

In [ ]:
#Task-5
def calculate_tax(age,salary,job):
  if age<18 or (job=='student' or job=='president') or salary<10000:
    return 0
  elif age>=18 and job!='president'and (salary>=10000 and salary<20000):
    return(salary*(5/100))
  elif age>=18 and job!='president' and salary>=20000:
    return(salary*(10/100))
x=calculate_tax(age=int(input('age: ')),salary=int(input('Salary: ')),job=input('Job: '))
print(x)

age: 20
Salary: 22000
Job: president
0

In [ ]:
#Task-6
def time(nd):
  y=nd//365
  nd%=365
  m=nd//30
  nd%=30
  print(f'{y} years, {m} months and {nd} days')
time(int(input()))

4330
11 years, 10 months and 15 days

In [ ]:
#Task-7
def show_palindrome(x):
  for i in range(1,x+1):
    print(i,end=' ')
  for j in range(x-1,0,-1):
    print(j,end=' ')
show_palindrome(int(input()))

5
1 2 3 4 5 4 3 2 1

In [ ]:
#Task-8
def show_palindromic_triangle2(a):
  for i in range(1,a+1):
    for s in range(a-i,-1,-1):
      print(' ',end=' ')
    show_palindrome(i)
    print()
show_palindromic_triangle2(5)

          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1

In [ ]:
#Task-9
def area_circumference_generator(x):
  import math
  a=(math.pi)*(math.pow(x,2))
  b=2*x*(math.pi)
  l=[]
  l.append(a)
  l.append(b)
  h=tuple(l)
  print(h)
  print(f'Area of the circle is {a} and circumference is {b}')

area_circumference_generator(1)

(3.141592653589793, 6.283185307179586)
Area of the circle is 3.141592653589793 and circumference is 6.283185307179586

In [ ]:
#Task-10
def make_square(a,b):
  d={}
  for i in range(a,b+1):
    d[i]=i**2
  print(d)
make_square(5,9)

{5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
#Task-11
def rem_duplicate(a):
  l=list(a)
  l2=[]
  for i in l:
    if i in l2:
      pass
    else:
      l2.append(i)
  print(tuple(l2))
rem_duplicate(("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2]))

('Hi', 1, 2, 3, 'a', [1, 2])

In [ ]:
#Task-12                             #Unfinished
def remover2(l):
  d={}
  l2=[]
  for i in l:
    x=l.count(i)
    if x<3:
      d[i]=x
    else:
      d[i]=2
  for j,k in d.items():
    for m in range(k):
      l2.append(j)
  print(l2)
remover2([1, 2, 3, 3, 3, 3, 4, 5, 8, 8])

[1, 2, 3, 3, 4, 5, 8, 8]

In [ ]:
#Task-13
def calculator(o,a,b):
  if o=='+':
    print(a+b)
  elif o=='-':
    print(a-b)
  elif o=='*':
    print(a*b)
  elif o=='/':
    print(a/b)
  else:
    print('invalid')
calculator(o=input('operator:' ),a=float(input('1st number: ')),b=float(input('2nd number: ')))

operator:*
1st number: 5.5
2nd number: 2.5
13.75

In [ ]:
#TASK-14
def rem_over(a,b):
  temp=''
  temp2=''
  for i in range(len(a)):
    if i>=3 and i%b==0:
      temp2+=a[i]
    else:
      temp+=a[i]
  print(temp+temp2)
rem_over('I love programming.',3)

I lveprgrmmngo oai.

In [ ]:
#TASk-15
def grocery(a,b="Dhanmondi"):
  d={"Rice":105,"Potato":20,"Chicken":250,"Beef":510,"Oil":85}
  total=0
  for i in a:
    for j in d.keys():
      if j==i:
        total+=d[j]
  if b=="Dhanmondi":
    total+=30
  else:
    total+=70
  print(total)
grocery(["Rice", "Beef", "Rice"],"mohakhali")

790