In [ ]:
#Task-1
n=input()[-1::-1]
print(n)

In [ ]:
#Task-2
a=input()
b=int(input())
print(a[b::-1]+a[b+1::1])

In [ ]:
#Task-3
n=input()
flag=True
for i in n:
  if (i!='0' and i!='1'):
    print('Non binary')
    flag=False
    break
if flag:
  print('Binary number')

In [ ]:
#Task-4
n=input()   #############**CHECK FOR "er" in ber**#############
if len(n)<4:
  if n[len(n)-2:]=="er":
    print(n[0:len(n)-2]+'est')
  else:
    print(n)
elif n[len(n)-2:]=='er':
  print(n[0:len(n)-1]+'st')
elif n[len(n)-3:]=='est':
  print(n)
else:
  print(n+'er')

In [ ]:
#Task-5
n=input()
i=len(n)
x=0
while x<i:
  print(n[:x+1:1])
  x+=1

In [ ]:
#Task-6
n=input()
for i in range(0,len(n)):
  print(n[i],':',ord(n[i]))

"Python programming is fun"
" : 34
P : 80
y : 121
t : 116
h : 104
o : 111
n : 110
  : 32
p : 112
r : 114
o : 111
g : 103
r : 114
a : 97
m : 109
m : 109
i : 105
n : 110
g : 103
  : 32
i : 105
s : 115
  : 32
f : 102
u : 117
n : 110
" : 34

In [ ]:
#Task-7
n=input()
for i in range(0,len(n)):
  x=ord(n[i])
  y=x+1
  if y<123:
    print(chr(y),end='')
  else:
    print('a',end='')

In [ ]:
#Task-8
n=input()
for i in range(0,len(n)):
  if i%2!=0:
    x=ord(n[i])
    y=x-32
    print(chr(y),end='')

In [ ]:
#Task-9
n=input()
for i in range(0,len(n)-1):
  if ord(n[i])!=ord(n[i+1]):
    print(n[i],end='')
print(n[len(n)-1],end='')

In [ ]:
#Task-10
line = input()
n1 = 0
i1 = 0
while line[n1] != ',':
    n1 += 1
i2 = n1 + 2
n2 = len(line)
res = ''
while i1 < n1 and i2 < n2:
    res += line[i1] + line[i2]
    i1 += 1
    i2 += 1
if i1 < n1:
    res += line[i1:n1]
else:
    res += line[i2:n2]
print(res)

ABCD, efgh
AeBfCgDh

In [ ]:
n=input()
temp=''
x=0
y=0
n1,n2=n.split(', ')
while len(temp)==len(n)-2:
  for i in n1:
    if i[x]!=',':
      temp+=i
      x+=1
      break
  for j in n2:
    temp+=j[y]
    y+=1
    break
print(temp)

ABCD, efgh

In [ ]:
#Task-11
i = 10
while(i >= -20):
    if(i < 0):
        test = " != "
        test = str(i//2) + test + str(int(i/2))
    else:
        test = " == "
        test = str(i//2) + test + str(int(i/2))
    print(test)
    i -= 5

In [ ]:
#Task-12
test = ""
i = 0
j = 0
k = 15
test = "-->"
while i < 5:
    j = k - 1
    k -= 1
    while j > 10:
        test = str(i + j) + "-->" + test
        print(test)
        j -= 1
    i += 1

In [ ]:
#Task-13
test = ""
i = 5
j = 0
k = 15
while i< 10:
    k-=1
    j = k
    while j > 10:
        if (j % 2) == 0:
            test = "<--"
            test = str(test) + str(i) + str(2) + "-->" + str(int(j / 2))
        else:
            test = "-->"
            test = "-->" + str(int(i / 2)) + str(test) + str(j)
        print(test)
        j = j-1
    i+=1

In [ ]:
#Task-14
test = ""
i = 5
j = 0
k = 15
while (i< 10):
    k-=1
    j = k
    while (j > 10 ):
        if j % 2 == 0:
            test = "<--"
            test = test + str(i) + '3' + "-->" + str(j // 3)
        else:
            test = "-->"
            test = "-->" + str((i // 3)) + test + str(j)
        print(test)
        j -=1
    i+=1

In [ ]:
#Task-15
i=0
j=0
k=15
test = '<--cat'
while i < 5:
    k -= 1
    j = k
    while j > 10:
        if j % 2 == 0:
            test += '-->'
            test = test + str(i) + str(j // 2)
        else:
            test += '<--'
            test = test + str(i // 2) + str(j)
        print(test)
        j-=1
    i+=1

In [ ]:
#####################################-------<<<<<<<UNGRADED>>>>>>>------#################################################

In [ ]:
#Class work (13/7/23)
n=int(input())
for i in range(n+1):
  for j in range(1,i+1):
    print(" *",end='')
  print()

5

 *
 * *
 * * *
 * * * *
 * * * * *

In [ ]:
n=int(input())
for row in range(n):#COLUMN
  for space in range(1,n-row):
    print(' ',end='')
  for col in range(row+1):#ROW
    print('* ',end='')
  print()

5
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
n=int(input())
for row in range(n):#COLUMN
  for space in range(1,n-row):
    print(' ',end='')
  for col in range(row+1):#ROW
    print('* ',end='')
  print()
for row2 in range(n-1):
  for space2 in range(n-1):
    print(' ',end='')
  for col2 in range(n-1,0,-1):
    print('* ',end='')

5
    *
   * *
  * * *
 * * * *
* * * * *
    * * * *     * * * *     * * * *     * * * *